<mat-card>
  <mat-card-title>Assign Audio Task to Class</mat-card-title>
  <mat-card-subtitle>Assign Task To Student</mat-card-subtitle>
  <hr>
  <mat-card-content>
    <form [formGroup]="audioTaskForm" (ngSubmit)="onSubmit()">
      <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
        <mat-input-container class="ml-xs mr-xs" style="width: 100%;">
          <input matInput placeholder="Starting Date" formControlName="startDate">
        </mat-input-container>
        <mat-input-container class="ml-xs mr-xs" style="width: 100%;">
          <input matInput placeholder="End Date" formControlName="endDate">
        </mat-input-container>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
        <mat-input-container class="ml-xs mr-xs" style="width: 100%;">
          <mat-select placeholder="Group/Level/Class" formControlName="level" [required]="isRequired" (change)="requestLoadLanguage()">
            <mat-option *ngFor="let group of groups; let i = index" [value]="i">
              {{ group.name }}
            </mat-option>
          </mat-select>
        </mat-input-container>
        <mat-input-container class="ml-xs mr-xs" style="width: 100%;">
          <mat-select placeholder="Language" formControlName="language" [required]="isRequired" (change)="requestLoadLanguage()">
            <mat-option *ngFor="let lang of languages" [value]="lang.code">
              {{ lang.label }}
            </mat-option>
          </mat-select>
        </mat-input-container>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" class="mb-2" *ngFor="let cl of classLevel; let i = index">
        <mat-input-container class="ml-xs mr-xs" style="width: 100%;" [formGroup]="audioTaskForm.controls.library.controls[i]">
          <mat-select placeholder="{{(i+1)}}." formControlName="resource" [required]="isRequired">
            <mat-option *ngFor="let resource of resClassLevel; let rIndex = index" [value]="rIndex">
              {{ resource.title }}
            </mat-option>
          </mat-select>
        </mat-input-container>
      </div>

      <div class="pb-1">
        <button mat-raised-button mat-button-sm color="primary" class="mr-1 mb-1">Submit Task</button>      
      </div>
    </form>
  </mat-card-content>
</mat-card>
    
    