<mat-card>
  <mat-card-title>Assign Task to Class</mat-card-title>
  <mat-card-subtitle>View Previous Task Result</mat-card-subtitle>
  <hr>
  <mat-card-content>
    <form [formGroup]="wordFormationForm" (ngSubmit)="onSubmit()">
      <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
        <mat-input-container class="ml-xs mr-xs" style="width: 100%;">
          <input matInput placeholder="Starting Date" formControlName="startDate" type="date">
        </mat-input-container>
        <mat-input-container class="ml-xs mr-xs" style="width: 100%;">
          <input matInput placeholder="End Date" formControlName="endDate" type="date">
        </mat-input-container>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
        <mat-input-container class="ml-xs mr-xs" style="width: 100%;">
          <mat-select placeholder="Group/Level/Class" formControlName="level" [required]="isRequired">
            <mat-option *ngFor="let group of groups; let i = index" [value]="i">
              {{ group.name }}
            </mat-option>
          </mat-select>
        </mat-input-container>
        <mat-input-container class="ml-xs mr-xs" style="width: 100%;">
          <mat-select placeholder="Language" formControlName="language" [required]="isRequired">
            <mat-option *ngFor="let lang of languages" [value]="lang.code">
              {{ lang.label }}
            </mat-option>
          </mat-select>
        </mat-input-container>
      </div>

      <h3>Word Formation</h3>
      <div fxLayout="row" fxLayoutAlign="start center" class="mb-2" *ngFor="let cnt of wordCount">
        <mat-input-container class="ml-xs mr-xs" style="width: 100%;"[formGroup]="wordFormationForm.controls.words">
          <input matInput placeholder="Words" formControlName="{{cnt}}">
        </mat-input-container>
        <mat-input-container class="ml-xs mr-xs" style="width: 100%;" [formGroup]="wordFormationForm.controls.duration">
          <mat-select placeholder="Time / Duration" formControlName="{{cnt}}">
            <mat-option *ngFor="let dur of durations" [value]="dur.value">
              {{ dur.label }}
            </mat-option>
          </mat-select>
        </mat-input-container>
      </div>

      <div class="pb-1">
        <button mat-raised-button mat-button-sm color="primary" class="mr-1 mb-1">Submit Task</button>      
      </div>
    </form>
  </mat-card-content>
</mat-card>
      