<mat-card>
    <mat-card-title>Available Student Resources</mat-card-title>
    <mat-card-subtitle>Inputs are the basic input component of Material 2</mat-card-subtitle>
    <hr>
    <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
            <p>Search By</p>
            <mat-radio-group name="my_options" [disabled]="isDisabled" fxLayout="row">
                <mat-radio-button value="option_1">Male</mat-radio-button>
                <mat-radio-button value="option_1">Male</mat-radio-button>
                <mat-radio-button value="option_2">Female</mat-radio-button>
            </mat-radio-group>
        </div>
      <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
        <mat-input-container class="ml-xs mr-xs" style="width: 100%;">
            <mat-select placeholder="Level/Class" [(ngModel)]="currentDrink" [required]="isRequired" [disabled]="isDisabled" #drinkControl="ngModel">
              <mat-option *ngFor="let level of levels" [value]="level.value">
                  {{ level.label }}
              </mat-option>
          </mat-select>
        </mat-input-container>
        <mat-input-container class="ml-xs mr-xs" style="width: 100%;">
                <mat-select placeholder="Level/Class" [(ngModel)]="currentDrink" [required]="isRequired" [disabled]="isDisabled" #drinkControl="ngModel">
                  <mat-option *ngFor="let level of levels" [value]="level.value">
                      {{ level.label }}
                  </mat-option>
              </mat-select>
            </mat-input-container>
      </div>
  
    </mat-card-content>
  </mat-card>
    
    