<mat-card>
  <mat-card-title>Add Video Book Questions</mat-card-title>
  <mat-card-subtitle>Assign Task To Student</mat-card-subtitle>
  <hr>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="start center" class="mb-2">
      <mat-input-container class="ml-xs mr-xs" style="width: 100%;">
        <input matInput placeholder="Sync from date">
      </mat-input-container>
      <mat-input-container class="ml-xs mr-xs" style="width: 100%;">
        <input matInput placeholder="Sync to date">
      </mat-input-container>
    </div>
    <div class="pb-1">
      <button mat-raised-button mat-button-sm color="primary" class="mr-1 mb-1">Check System</button>
      <button mat-raised-button mat-button-sm color="primary" class="mr-1 mb-1">Compile Now</button>
      <button mat-raised-button mat-button-sm color="primary" class="mr-1 mb-1">Reset</button>
    </div>
  </mat-card-content>
</mat-card>
    
    