<mat-card>
  <mat-card-title>Snack Bar</mat-card-title>
  <mat-card-subtitle>matSnackBar is a service, which opens snack bar notifications in the view.</mat-card-subtitle>
  <hr>
  <mat-card-content>
    <p>Message: <mat-input-container><input matInput type="text" [(ngModel)]="message"></mat-input-container></p>
    <mat-checkbox [(ngModel)]="action">
      <p *ngIf="!action">Show button on snack bar</p>
      <mat-input-container *ngIf="action">
        <input matInput
               type="text"
               class="demo-button-label-input"
               placeholder="Snack bar action label"
               [(ngModel)]="actionButtonLabel">
      </mat-input-container>
    </mat-checkbox>

    <mat-checkbox [(ngModel)]="setAutoHide">
      <p *ngIf="!setAutoHide">Auto hide after duration</p>
      <mat-input-container *ngIf="setAutoHide">
        <input matInput
               type="number"
               class="demo-button-label-input"
               placeholder="Auto Hide Duration in ms"
               [(ngModel)]="autoHide">
      </mat-input-container>
    </mat-checkbox>
    <p><mat-checkbox [(ngModel)]="addExtraClass">Add extra class to container</mat-checkbox></p>
    <button mat-raised-button (click)="open()">Show Snack bar</button>
  </mat-card-content>
</mat-card>